<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>App1</title>
=======
  <title>Rubyapp1</title>
>>>>>>> cf4e9a8096391dd8088de80da03e7e51f13c0ca3
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
